body{
    background-color: #fd9cc3;
}
.card{
    background-color: white;
    border-radius: 10px;
    height: 750px;
    width: 500px;
    margin-top: 65px;
}
.holdflower{
    width:500px;
    border-radius: 10px;
}
.header{
    font-size: 25px;
    padding-top: 25px;
}
.text{
    font-size: 20px;
}
.button { 
    display: inline-block;
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 16px; /* Adjust font size as needed */
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px; /* Adjust border radius as needed */
  color: white; /* Text color */
}

  #yesButton.bigger {
    font-size: 50px; 
  }
  #yesButton.smaller {
    font-size: 14px; 
  }
.txtunderpic1{
    margin-top: 45px;
    font-size: 20px;
  }
